.page-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 50% !important; 
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
header a {
    color: deepskyblue;
}
.page-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
}

.page-container .page-table {
    width:  900px;
}

.page-container .page-table thead {
    color: #007bff;
}

h1, a, p {
    margin: 15px;
}

.table {
    margin: auto;
    width: 50% !important; 
 }

.textField {
    margin: auto;
    width: 25% !important; 
 }
